
main{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

button{
    margin: 5px;
    background-color: #22795f;
    border-color: #d4dfdf;
    color: #ffffff;
    box-shadow: 3px;
}

form {
    padding: 30px;
}

#add-giphy {
    background-color: #22795f;
    color: #ffffff;
}

button:hover {
    background-color: #0e3328;
}

button:focus{
    background-color:#143764;
}