

button{
    margin: 5px;
    background-color: #22795f;
    border-color: #d4dfdf;
    color: #ffffff;
}

form {
    padding: 30px;
}

#add-giphy {
    background-color: #22795f;
    color: #ffffff;
}